.box {
    background-color: $color_white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #00000005;
    margin-bottom: 30px;

    .box-header {
        padding: 0px 0px 10px;

        &.with-border {
            border-bottom: 1px solid $color_light_gray;
        }

        &.with-action {
            @include dflex;
            grid-gap: 10px;
        }

        .action {
            @include dflex;
        }

        .box-title {
            font-weight: 500;
        }
    }

    .box-body {
        padding: 15px 0px;
    }

    .box-footer {

    }
}
