form {
    .form-group {
        margin-bottom: 15px;

        label {
            font-weight: 400;
            color: $color_secondary;
            margin-bottom: 5px;

            &.col-form-label {
                padding-bottom: 0;
            }
        }

        .form-control {
            font-size: 14px;

            &:focus {   
                box-shadow: none;
                border-color: $color_secondary;
            }

            &::placeholder {
                font-weight: 300;
            }
        }
    }

    .form-section-title {
        font-weight: 500;
        font-size: 15px;
        margin: 15px 0px 15px;
    }
}