.header {
    background-color: $color_primary;
    @include dflex;
    min-height: 50px;
  
    .header-left {
        padding: 0px 10px;
        width: $nav_size;
        @include dflex;
        
        .logo {
            h2 {
                font-size: 20px;
                color: $color_white;

                span {
                    color: $color_white;
                }
            }
        }

        i.bx {
            font-size: 20px;
            cursor: pointer;
            color: $color_white
        }
    }
  
    .header-right {
        padding: 0px 10px;
        width: $content_size;
        @include dflex;
  
        .header-nav {
            @include dflex;

            ul {
                @include dflex;
                list-style: none;

                li {
                    margin-right: 5px;
                    a {
                        color: $color_white;
                        padding: 0px 5px;

                        i {
                            color: $color_white;
                        }

                        &:hover {
                            color: $color_white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
  
        .header-user {
            a {
                color: $color_white;
            }
        }
    }
}