main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #F9FCFE;

    .main-navigation {
        border-right: 1px solid $color_light_gray;
        background: $color_white;
        width: $nav_size;
        transition: 200ms;

        ul {
            list-style: none;

            li {
                a {
                    display: block;
                    color: $color_secondary;
                    transition: display 100ms 200ms;
                }
            }
        }
    }
    
    .main-content {
        transition: 200ms;
        width: $content_size;
    }

    &.mini-nav {
        .main-navigation{
            width: 50px;

            ul {
                li {
                    a {
                        .nav-text {
                            display: none;
                        }
                    }

                    .nav-dropdown {
                        display: none;
                    }
                }
            }
        }
    
        .main-content {
            width: calc(100% - 50px);
        }
    }
}